body {
    background: linear-gradient(to right, rgb(197, 230, 236), rgb(135, 145, 235));
    color: white;
    margin: 0;
    font-family: rubik;
}

.calculadora {
    position: absolute;
    background-color: rgba(106, 95, 138, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;

}

h1 {
    text-align: center;
}

button {
    width: 50px;
    height: 50px;
    font-size: large;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: none;
    margin: 2px;

}

button:hover {
    background-color: rgb(187, 187, 255);
}

#resultado {
    background-color: rgb(253, 253, 253);
    width: 224px;
    height: 30px;
    margin: 5px;
    font-size: 15px;
    color: black;
    text-align: right;
}